.inbox1{
    margin-left: 20px;
}
.lpsum1{
    margin-left: 20px;
}

.dorum1{
    margin-left: 20px;
}

.mingsum{
    margin-left: 20px;
}
/* .container{
    width: 50%;
  
   
} */
.container-card4{
    width: 600px;
    height: 350px;
    float: right;
    position: relative;
    top: -700px;
    right: 50px;

}
.popular{
    margin-left: 20px;
}