.inbox1{
    margin-left: 20px;
}
.lpsum1{
    margin-left: 20px;
}

.dorum1{
    margin-left: 20px;
}

.mingsum{
    margin-left: 20px;
}
/* .container{
    width: 50%;
  
   
} */
.container-card4{
    width: 600px;
    height: 500px;
    float: right;
    position: relative;
    top: -900px;
    right: 50px;

}
.popular{
    margin-left: 20px;
}

.line1{
    margin: 20px;
}