.footer{
    background-color: #616161;
    height: 200px;
    padding-top: 32px;
    padding-bottom: 32px;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
    margin-left: 20px;
    cursor: not-allowed;
  }
  
  .next {
    background-color: black;
    color: white;
    margin-left: 10px;
  }
  
  .footer-text{
    color: #f1f1f1;
    margin-left: 20px;
  }

  .tag-textf{
    color: #f1f1f1;
    text-decoration: underline;
  }